{
  "realm": {
    "realm": "{{ sso_realm_name }}",
    "displayName": "{{ sso_realm_display_name }}",
    "enabled": true,
    "registrationAllowed": false,
    "loginWithEmailAllowed": true,
    "duplicateEmailsAllowed": false,
    "resetPasswordAllowed": true,
    "editUsernameAllowed": false,
    "bruteForceProtected": true,
    "accessTokenLifespan": 300,
    "ssoSessionIdleTimeout": 1800,
    "ssoSessionMaxLifespan": 36000
  },
  "groups": [
    "{{ sso_admin_group }}",
    "{{ sso_user_group }}"
  ],
  "client": {
    "clientId": "{{ jenkins_client_id }}",
    "name": "{{ jenkins_client_name }}",
    "enabled": true,
    "clientAuthenticatorType": "client-secret",
    "secret": "{{ jenkins_client_secret }}",
    "standardFlowEnabled": true,
    "implicitFlowEnabled": false,
    "directAccessGrantsEnabled": true,
    "serviceAccountsEnabled": false,
    "publicClient": false,
    "frontchannelLogout": true,
    "protocol": "openid-connect",
    "fullScopeAllowed": true,
    "protocolMappers": [
      {
        "name": "jenkins-groups-mapper",
        "protocol": "openid-connect",
        "protocolMapper": "oidc-group-membership-mapper",
        "consentRequired": false,
        "config": {
          "full.path": "false",
          "id.token.claim": "true",
          "access.token.claim": "true",
          "claim.name": "groups",
          "userinfo.token.claim": "true"
        }
      }
    ],
    "redirectUris": [
{% for url in [jenkins_base_url, jenkins_proxy_url] %}
      "{{ url }}/*",
      "{{ url }}/securityRealm/finishLogin"{% if not loop.last %},{% endif %}
{% endfor %}
    ],
    "webOrigins": [
{% for url in [jenkins_base_url, jenkins_proxy_url] %}
      "{{ url }}"{% if not loop.last %},{% endif %}
{% endfor %}
    ]
  }{% if sso_create_test_users %},
  "users": [
{% for user in sso_test_users %}
    {
      "username": "{{ user.username }}",
      "email": "{{ user.email }}",
      "firstName": "{{ user.firstName }}",
      "lastName": "{{ user.lastName }}",
      "password": "{{ user.password }}",
      "groups": {{ user.groups | to_json }}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ]{% endif %}
}
