---
# Keycloak connection configuration for SonarQube SAML integration
# Similar to sonar.yml - contains only host/connection specifics

# Keycloak host resolution from inventory
keycloak_hostname: "{{ groups['keycloak'][0] }}"
keycloak_host_ip: "{{ hostvars[groups['keycloak'][0]]['ansible_host'] }}"
keycloak_base_url: "https://{{ keycloak_hostname }}"

# Keycloak admin credentials
sonarqube_keycloak_saml_keycloak_admin_user: "{{ vault_KEYCLOAK_ADMIN_USERNAME }}"
sonarqube_keycloak_saml_keycloak_admin_password: "{{ vault_KEYCLOAK_ADMIN_PASSWORD }}"
