---
# Create Test User

- name: Check if test user already exists
  ansible.builtin.uri:
    url: "{{ sonarqube_keycloak_saml_keycloak.base_url }}/admin/realms/{{ sonarqube_keycloak_saml_keycloak.realm }}/users?username={{ sonarqube_keycloak_saml_test_user.username }}"
    method: GET
    validate_certs: false
    headers:
      Authorization: "Bearer {{ keycloak_access_token }}"
    status_code: [200]
  register: existing_test_users

- name: Delete existing test user if it exists
  ansible.builtin.uri:
    url: "{{ sonarqube_keycloak_saml_keycloak.base_url }}/admin/realms/{{ sonarqube_keycloak_saml_keycloak.realm }}/users/{{ existing_test_users.json[0].id }}"
    method: DELETE
    validate_certs: false
    headers:
      Authorization: "Bearer {{ keycloak_access_token }}"
    status_code: [204]
  when: existing_test_users.json | length > 0

- name: Create test user
  ansible.builtin.uri:
    url: "{{ sonarqube_keycloak_saml_keycloak.base_url }}/admin/realms/{{ sonarqube_keycloak_saml_keycloak.realm }}/users"
    method: POST
    validate_certs: false
    headers:
      Authorization: "Bearer {{ keycloak_access_token }}"
      Content-Type: "application/json"
    body_format: json
    body:
      username: "{{ sonarqube_keycloak_saml_test_user.username }}"
      enabled: true
      emailVerified: true
      firstName: "{{ sonarqube_keycloak_saml_test_user.first_name }}"
      lastName: "{{ sonarqube_keycloak_saml_test_user.last_name }}"
      email: "{{ sonarqube_keycloak_saml_test_user.email }}"
      credentials:
        - type: "password"
          value: "{{ sonarqube_keycloak_saml_test_user.password }}"
          temporary: false
    status_code: [201]
  register: create_test_user_response

- name: Get created test user
  ansible.builtin.uri:
    url: "{{ sonarqube_keycloak_saml_keycloak.base_url }}/admin/realms/{{ sonarqube_keycloak_saml_keycloak.realm }}/users?username={{ sonarqube_keycloak_saml_test_user.username }}"
    method: GET
    validate_certs: false
    headers:
      Authorization: "Bearer {{ keycloak_access_token }}"
    status_code: [200]
  register: created_test_user

- name: Set test user ID fact
  ansible.builtin.set_fact:
    test_user_id: "{{ created_test_user.json[0].id }}"

- name: Add test user to sonar-users group
  ansible.builtin.uri:
    url: "{{ sonarqube_keycloak_saml_keycloak.base_url }}/admin/realms/{{ sonarqube_keycloak_saml_keycloak.realm }}/users/{{ test_user_id }}/groups/{{ sonar_users_group_id }}"
    method: PUT
    validate_certs: false
    headers:
      Authorization: "Bearer {{ keycloak_access_token }}"
    status_code: [204]

- name: Verify test user was created and added to group
  ansible.builtin.debug:
    msg: "Test user '{{ sonarqube_keycloak_saml_test_user.username }}' created successfully and added to sonar-users group"
