<?xml version='1.1' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>{{ jenkins_admin_email | default('admin@example.com') }}</adminAddress>
  <jenkinsUrl>{{ keycloak_saml_integration_app.base_url }}/</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>
