---
- name: reload systemd
  ansible.builtin.systemd:
    daemon_reload: yes

- name: restart keycloak service
  ansible.builtin.systemd:
    name: keycloak
    state: restarted

- name: reload firewalld
  ansible.builtin.systemd:
    name: firewalld
    state: reloaded
