---
- name: restart nginx
  systemd:
    name: nginx
    state: restarted
  listen: restart nginx

- name: reload nginx
  systemd:
    name: nginx
    state: reloaded
  listen: reload nginx

- name: test nginx config
  command: nginx -t
  register: nginx_test
  failed_when: nginx_test.rc != 0
  changed_when: false
  listen: test nginx config