---
# Artifactory-specific SAML Integration Configuration
# NOTE: SAML SSO requires Artifactory Pro or Enterprise license
#       NOT supported in Artifactory OSS (Community Edition)

# Application Configuration
keycloak_saml_integration_app_config:
  home: "/opt/jfrog/artifactory"
  config_file: "etc/security/security.xml"
  service_name: "artifactory"
  user: "artifactory"
  group: "artifactory"
  saml_callback_url: "/webapp/saml/loginResponse"

# Artifactory admin credentials for API access
keycloak_saml_integration_artifactory_admin:
  user: "{{ vault_artifactory_admin_username }}"
  password: "{{ vault_artifactory_admin_password }}"

# Artifactory-specific SAML settings
keycloak_saml_integration_artifactory_saml:
  enabled: true
  service_provider_name: "artifactory"
  allow_user_to_access_profile: true
  auto_create_user: true
  sync_groups: true
  use_encrypted_assertion: false
  auto_redirect: false
  verify_audience_restriction: false
