---
# Create Test User in Keycloak

- name: Check if test user already exists
  ansible.builtin.uri:
    url: "{{ jenkins_keycloak_saml_keycloak.base_url }}/admin/realms/{{ jenkins_keycloak_saml_keycloak.realm }}/users?username={{ jenkins_keycloak_saml_test_user.username }}"
    method: GET
    headers:
      Authorization: "Bearer {{ keycloak_access_token }}"
    status_code: 200
    validate_certs: false
  register: existing_test_users

- name: Delete existing test user if found
  ansible.builtin.uri:
    url: "{{ jenkins_keycloak_saml_keycloak.base_url }}/admin/realms/{{ jenkins_keycloak_saml_keycloak.realm }}/users/{{ existing_test_users.json[0].id }}"
    method: DELETE
    headers:
      Authorization: "Bearer {{ keycloak_access_token }}"
    status_code: [204]
    validate_certs: false
  when: existing_test_users.json | length > 0

- name: Create Jenkins test user
  ansible.builtin.uri:
    url: "{{ jenkins_keycloak_saml_keycloak.base_url }}/admin/realms/{{ jenkins_keycloak_saml_keycloak.realm }}/users"
    method: POST
    headers:
      Authorization: "Bearer {{ keycloak_access_token }}"
      Content-Type: "application/json"
    body_format: json
    body:
      username: "{{ jenkins_keycloak_saml_test_user.username }}"
      email: "{{ jenkins_keycloak_saml_test_user.email }}"
      firstName: "{{ jenkins_keycloak_saml_test_user.first_name }}"
      lastName: "{{ jenkins_keycloak_saml_test_user.last_name }}"
      enabled: true
      emailVerified: true
      credentials:
        - type: "password"
          value: "{{ jenkins_keycloak_saml_test_user.password }}"
          temporary: false
    status_code: [201]
    validate_certs: false

- name: Get test user ID
  ansible.builtin.uri:
    url: "{{ jenkins_keycloak_saml_keycloak.base_url }}/admin/realms/{{ jenkins_keycloak_saml_keycloak.realm }}/users?username={{ jenkins_keycloak_saml_test_user.username }}"
    method: GET
    headers:
      Authorization: "Bearer {{ keycloak_access_token }}"
    status_code: 200
    validate_certs: false
  register: created_test_user

- name: Set test user ID fact
  ansible.builtin.set_fact:
    test_user_id: "{{ created_test_user.json[0].id }}"

- name: Get all groups to find group IDs
  ansible.builtin.uri:
    url: "{{ jenkins_keycloak_saml_keycloak.base_url }}/admin/realms/{{ jenkins_keycloak_saml_keycloak.realm }}/groups"
    method: GET
    headers:
      Authorization: "Bearer {{ keycloak_access_token }}"
    status_code: 200
    validate_certs: false
  register: all_groups

- name: Add test user to each configured group
  ansible.builtin.uri:
    url: "{{ jenkins_keycloak_saml_keycloak.base_url }}/admin/realms/{{ jenkins_keycloak_saml_keycloak.realm }}/users/{{ test_user_id }}/groups/{{ (all_groups.json | selectattr('name', 'equalto', item) | list)[0].id }}"
    method: PUT
    headers:
      Authorization: "Bearer {{ keycloak_access_token }}"
    status_code: [204]
    validate_certs: false
  loop: "{{ jenkins_keycloak_saml_test_user.groups }}"
  when: jenkins_keycloak_saml_test_user.groups is defined

- name: Display test user information
  ansible.builtin.debug:
    msg:
      - "Created Jenkins test user:"
      - "  Username: {{ jenkins_keycloak_saml_test_user.username }}"
      - "  Email: {{ jenkins_keycloak_saml_test_user.email }}"
      - "  Name: {{ jenkins_keycloak_saml_test_user.first_name }} {{ jenkins_keycloak_saml_test_user.last_name }}"
      - "  Password: {{ jenkins_keycloak_saml_test_user.password }}"
      - "  Groups: {{ jenkins_keycloak_saml_test_user.groups | join(', ') }}"
