---
# Create Keycloak SAML Client

- name: Check if SAML client already exists
  ansible.builtin.uri:
    url: "{{ keycloak_saml_integration_keycloak.base_url }}/admin/realms/{{ keycloak_saml_integration_keycloak.realm }}/clients"
    method: GET
    headers:
      Authorization: "Bearer {{ keycloak_saml_integration_access_token }}"
    status_code: 200
    validate_certs: false
  register: keycloak_saml_integration_existing_clients

- name: Set existing client fact
  ansible.builtin.set_fact:
    keycloak_saml_integration_existing_saml_client: "{{ keycloak_saml_integration_existing_clients.json | selectattr('clientId', 'equalto', keycloak_saml_integration_client.client_id) | list }}"

- name: Update existing SAML client
  ansible.builtin.uri:
    url: "{{ keycloak_saml_integration_keycloak.base_url }}/admin/realms/{{ keycloak_saml_integration_keycloak.realm }}/clients/{{ keycloak_saml_integration_existing_saml_client[0].id }}"
    method: PUT
    headers:
      Authorization: "Bearer {{ keycloak_saml_integration_access_token }}"
      Content-Type: "application/json"
    body_format: json
    body:
      clientId: "{{ keycloak_saml_integration_client.client_id }}"
      protocol: "{{ keycloak_saml_integration_client.protocol }}"
      enabled: "{{ keycloak_saml_integration_client.enabled }}"
      frontchannelLogout: "{{ keycloak_saml_integration_client.front_channel_logout }}"
      fullScopeAllowed: false
      redirectUris: "{{ keycloak_saml_integration_client.redirect_uris }}"
      webOrigins: "{{ keycloak_saml_integration_client.web_origins }}"
      baseUrl: "{{ keycloak_saml_integration_client.base_url }}"
      rootUrl: "{{ keycloak_saml_integration_client.root_url }}"
      adminUrl: "{{ keycloak_saml_integration_client.admin_url }}"
      attributes:
        "saml.authnstatement": "{{ keycloak_saml_integration_client.attributes.saml_authnstatement }}"
        "saml.server.signature": "{{ keycloak_saml_integration_client.attributes.saml_server_signature }}"
        "saml.signature.algorithm": "{{ keycloak_saml_integration_client.attributes.saml_signature_algorithm }}"
        "saml.client.signature": "{{ keycloak_saml_integration_client.attributes.saml_client_signature }}"
        "saml.assertion.signature": "{{ keycloak_saml_integration_client.attributes.saml_assertion_signature }}"
        "saml.encrypt": "{{ keycloak_saml_integration_client.attributes.saml_encrypt }}"
        "saml.force.post.binding": "{{ keycloak_saml_integration_client.attributes.saml_force_post_binding }}"
        "saml_name_id_format": "{{ keycloak_saml_integration_client.attributes.saml_name_id_format }}"
        "saml.signing.certificate": "{{ keycloak_saml_integration_client.attributes.saml_signing_certificate }}"
        "saml.signing.private.key": "{{ keycloak_saml_integration_client.attributes.saml_signing_private_key }}"
    status_code: [200, 204]
    validate_certs: false
  when: keycloak_saml_integration_existing_saml_client | length > 0

- name: Create new SAML client
  ansible.builtin.uri:
    url: "{{ keycloak_saml_integration_keycloak.base_url }}/admin/realms/{{ keycloak_saml_integration_keycloak.realm }}/clients"
    method: POST
    headers:
      Authorization: "Bearer {{ keycloak_saml_integration_access_token }}"
      Content-Type: "application/json"
    body_format: json
    body:
      clientId: "{{ keycloak_saml_integration_client.client_id }}"
      protocol: "{{ keycloak_saml_integration_client.protocol }}"
      enabled: "{{ keycloak_saml_integration_client.enabled }}"
      frontchannelLogout: "{{ keycloak_saml_integration_client.front_channel_logout }}"
      fullScopeAllowed: false
      redirectUris: "{{ keycloak_saml_integration_client.redirect_uris }}"
      webOrigins: "{{ keycloak_saml_integration_client.web_origins }}"
      baseUrl: "{{ keycloak_saml_integration_client.base_url }}"
      rootUrl: "{{ keycloak_saml_integration_client.root_url }}"
      adminUrl: "{{ keycloak_saml_integration_client.admin_url }}"
      attributes:
        "saml.authnstatement": "{{ keycloak_saml_integration_client.attributes.saml_authnstatement }}"
        "saml.server.signature": "{{ keycloak_saml_integration_client.attributes.saml_server_signature }}"
        "saml.signature.algorithm": "{{ keycloak_saml_integration_client.attributes.saml_signature_algorithm }}"
        "saml.client.signature": "{{ keycloak_saml_integration_client.attributes.saml_client_signature }}"
        "saml.assertion.signature": "{{ keycloak_saml_integration_client.attributes.saml_assertion_signature }}"
        "saml.encrypt": "{{ keycloak_saml_integration_client.attributes.saml_encrypt }}"
        "saml.force.post.binding": "{{ keycloak_saml_integration_client.attributes.saml_force_post_binding }}"
        "saml_name_id_format": "{{ keycloak_saml_integration_client.attributes.saml_name_id_format }}"
        "saml.signing.certificate": "{{ keycloak_saml_integration_client.attributes.saml_signing_certificate }}"
        "saml.signing.private.key": "{{ keycloak_saml_integration_client.attributes.saml_signing_private_key }}"
    status_code: [201, 409]
    validate_certs: false
  when: keycloak_saml_integration_existing_saml_client | length == 0

- name: Get updated client list to retrieve client ID
  ansible.builtin.uri:
    url: "{{ keycloak_saml_integration_keycloak.base_url }}/admin/realms/{{ keycloak_saml_integration_keycloak.realm }}/clients"
    method: GET
    headers:
      Authorization: "Bearer {{ keycloak_saml_integration_access_token }}"
    status_code: 200
    validate_certs: false
  register: keycloak_saml_integration_updated_clients

- name: Set SAML client ID fact
  ansible.builtin.set_fact:
    keycloak_saml_integration_saml_client_id: "{{ (keycloak_saml_integration_updated_clients.json | selectattr('clientId', 'equalto', keycloak_saml_integration_client.client_id) | list)[0].id }}"

- name: Verify SAML client creation
  ansible.builtin.debug:
    msg: "{{ keycloak_saml_integration_app_type | capitalize }} SAML client '{{ keycloak_saml_integration_client.client_id }}' configured successfully with ID: {{ keycloak_saml_integration_saml_client_id }}"
