---
# Reusable task: Get groups from Keycloak realm
# This task can be included from other task files to avoid duplication

- name: Get groups from Keycloak realm
  ansible.builtin.uri:
    url: "{{ keycloak_saml_integration_keycloak.admin_api_url }}/admin/realms/{{ keycloak_saml_integration_keycloak.realm }}/groups"
    method: GET
    headers:
      Authorization: "Bearer {{ keycloak_saml_integration_access_token }}"
    status_code: 200
    validate_certs: false
  register: keycloak_saml_integration_groups_result
