---
- name: SonarQube-Keycloak SAML Integration
  hosts: sonarqube
  become: true
  gather_facts: true

  vars_files:
    - ../group_vars/sonar.yml
    - ../group_vars/keycloak.yml

  roles:
    - sonarqube-keycloak-saml
