---
- name: Install FreeIPA server packages and prepare host
  hosts: freeipa
  gather_facts: yes
  become: yes

  vars:
    freeipa_hostname: "freeipa.local"

  pre_tasks:
    - name: Ensure hostname is set to {{ freeipa_hostname }}
      ansible.builtin.hostname:
        name: "{{ freeipa_hostname }}"

  roles:
    - freeipa-install

  post_tasks:
    - name: Display FreeIPA installation note
      ansible.builtin.debug:
        msg: |
          FreeIPA packages installed on {{ inventory_hostname }}.
          If you want automated server bootstrap, set freeipa_setup_server: true and define realm/domain and admin passwords via vault.
