[Unit]
Description=Keycloak Service (Quarkus)
After=network.target
Wants=network-online.target

[Service]
Type=simple
User={{ keycloak_user }}
Group={{ keycloak_group }}
Environment="JAVA_OPTS={{ keycloak_jvm_opts }}"
Environment="KEYCLOAK_HOME={{ keycloak_home }}"
Environment="KEYCLOAK_ADMIN={{ keycloak_admin_user }}"
Environment="KEYCLOAK_ADMIN_PASSWORD={{ keycloak_admin_password }}"
WorkingDirectory={{ keycloak_home }}
ExecStart={{ keycloak_home }}/bin/kc.sh start-dev --http-port={{ keycloak_http_port }} --proxy edge
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
