---
# Configure Groups in Keycloak

- name: Get existing groups in Keycloak realm
  ansible.builtin.uri:
    url: "{{ keycloak_saml_keycloak.base_url }}/admin/realms/{{ keycloak_saml_keycloak.realm }}/groups"
    method: GET
    headers:
      Authorization: "Bearer {{ keycloak_access_token }}"
    status_code: 200
    validate_certs: false
  register: existing_groups

- name: Create Admin group
  ansible.builtin.uri:
    url: "{{ keycloak_saml_keycloak.base_url }}/admin/realms/{{ keycloak_saml_keycloak.realm }}/groups"
    method: POST
    headers:
      Authorization: "Bearer {{ keycloak_access_token }}"
      Content-Type: "application/json"
    body_format: json
    body:
      name: "{{ keycloak_saml_groups.admins.name }}"
      path: "/{{ keycloak_saml_groups.admins.name }}"
      attributes:
        description: ["{{ keycloak_saml_groups.admins.description }}"]
    status_code: [201, 409]
    validate_certs: false
  when: keycloak_saml_groups.admins.name not in (existing_groups.json | map(attribute='name') | list)

- name: Create Users group
  ansible.builtin.uri:
    url: "{{ keycloak_saml_keycloak.base_url }}/admin/realms/{{ keycloak_saml_keycloak.realm }}/groups"
    method: POST
    headers:
      Authorization: "Bearer {{ keycloak_access_token }}"
      Content-Type: "application/json"
    body_format: json
    body:
      name: "{{ keycloak_saml_groups.users.name }}"
      path: "/{{ keycloak_saml_groups.users.name }}"
      attributes:
        description: ["{{ keycloak_saml_groups.users.description }}"]
    status_code: [201, 409]
    validate_certs: false
  when: keycloak_saml_groups.users.name not in (existing_groups.json | map(attribute='name') | list)

- name: Get updated groups list
  ansible.builtin.uri:
    url: "{{ keycloak_saml_keycloak.base_url }}/admin/realms/{{ keycloak_saml_keycloak.realm }}/groups"
    method: GET
    headers:
      Authorization: "Bearer {{ keycloak_access_token }}"
    status_code: 200
    validate_certs: false
  register: updated_groups

- name: Set group IDs facts
  ansible.builtin.set_fact:
    admins_group_id: "{{ (updated_groups.json | selectattr('name', 'equalto', keycloak_saml_groups.admins.name) | list)[0].id }}"
    users_group_id: "{{ (updated_groups.json | selectattr('name', 'equalto', keycloak_saml_groups.users.name) | list)[0].id }}"

- name: Display created groups
  ansible.builtin.debug:
    msg:
      - "Created/verified {{ keycloak_saml_app_type | capitalize }} groups:"
      - "  - {{ keycloak_saml_groups.admins.name }} ({{ admins_group_id }})"
      - "  - {{ keycloak_saml_groups.users.name }} ({{ users_group_id }})"
